.div1{
    width: 350px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px lightblue;
}
p{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 20px;
}
img{
    border: 10px solid black;
}
.img{
    text-align: center;
    
}
.text{
    width: 80px;
    height: 80px;
    padding: 15px;
    background-color: aquamarine;
    box-shadow: 10px 10px 5px 12px lightblue;
}
.bd{
    width: 90px;
    height: 50px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}